


<!DOCTYPE html>
<html lang="en">
<head>
  <title>JUKEBOX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>JUKEBOX</h1>
  <p>A simple jukebox application<br><kbd>Refresh page to get new links.</kbd></p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6 ">
      <h3 p align=center>VOTE VIDEOS</h3>
      <ul class="list-group">
    <li class="list-group-item">Start by posting you tube links to your clack channel</li>
    <li class="list-group-item">Refresh page for the updated voting list</li>
    <li class="list-group-item">Copy and paste the links to your address bar and vote if you like it!</li>
    <li class="list-group-item">click the GO! button after voting</li>
  </ul>
<form action="chat/contact.html" method="post" >

    {% csrf_token %}
    {{ form }}

    <input type="submit" class="btn btn-default btn-lg" value="Vote">
</form>
    </div>
<div class="col-sm-6 ">

<h3 p align=center>Go to jukebox</h3>
<br><br>
<a href="chat/jukebox/" class="btn btn-default btn-block btn-lg" role="button">GO!</a>
    </div>
  </div>
</div>
<br><br>
</body>
</html>
